.chart-container {
  min-width: 500px;
  min-height: 250px;
}

.chart {
  width: 350px;
  height: 150px;
}

.chart-header {
  align-self: flex-start;
  font-size: 1rem;
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
}
