.line-center {
  margin: 0;
  padding: 0 2%;
  display: inline-block;
}

.strike-through {
  color: #96999e;
  position: relative;
  z-index: 2;
}

.strike-through:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  border-top: solid 1px lightgray;
  z-index: -1;
}
