<div class="d-flex row justify-content-center align-items-center">
  <div class="col-md-4 p-3 form-box">
    <div class="text-center">
      <img src="assets/logo.svg" class="img-fluid rounded me-3 logo" alt="bug tracker logo"/>
      <h4 class="pb-2 form-title">Reset Your password</h4>
    </div>

    <div *ngIf="infoMessage" class="text-center alert alert-success mt-3">
      <span>{{infoMessage}}</span>
    </div>

    <div *ngIf="errorMessage" class="text-center alert alert-danger mt-3">
      <span>{{errorMessage}}</span>
    </div>

    <form class="p-3" #loginForm="ngForm">
      <label class="col-form-label" for="email">Please enter your email address to verify.</label>
      <input
        type="email"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+(\.[a-z]{2,4})+$"
        class="form-control rounded p-2 mt-2"
        id="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Email address"
        required
      />

      <div class="mt-3 float-end">
        <button class="btn btn-secondary me-2" (click)="login()">
          Login
        </button>
        <button
          type="button" class="btn btn-primary" [disabled]="loginForm.invalid" (click)="send()">
          Send
        </button>
      </div>
    </form>
  </div>
</div>
