<mat-toolbar color="primary" class="mb-3">
  <div class="brand">
    <span>Bug Tracker</span>
  </div>

  <a mat-flat-button color="primary" routerLink="dashboard">
    <mat-icon>computer</mat-icon>
    <span class="icon-label">Dashboard</span>
  </a>
  <a mat-flat-button color="primary" routerLink="tickets">
    <fa-icon [icon]="faTicketIcon"></fa-icon>
    <span class="icon-label">Tickets</span>
  </a>
  <a mat-flat-button color="primary">
    <fa-icon [icon]="faUserShieldIcon"></fa-icon>
    <span class="icon-label">Administration</span>
  </a>
  <a mat-raised-button (click)="logout()" color="accent">
    Logout
  </a>
</mat-toolbar>

