<div class="bg-white p-3 rounded">
  <div class="d-flex mb-2">
    <h4 class="flex-column text-uppercase fw-bold">Projects</h4>
    <button class="btn btn-primary flex-column ms-auto">New Project</button>
  </div>

  <div class="d-flex">
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th scope="col">Project</th>
        <th scope="col">Description</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of projects">
        <th scope="row">{{ project.name }}</th>
        <td>{{ project.description }}</td>
        <td class="text-center">
          <a (click)="editProject(project)" [title]="'Edit ' + project.name">
            <fa-icon [icon]="faEllipsisV"></fa-icon>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="flex-container p-2">
    <ngb-pagination [collectionSize]="projectsCount" [(page)]="page" [maxSize]="5" (pageChange)="onPageChange()"
                    [boundaryLinks]="true"></ngb-pagination>
  </div>
</div>

