<div class="dashboard-container">
  <div class="charts-container">
    <div class="chart-item bg-white rounded">
      <app-chart [chartData]="typeChartData"
                 [chartOptions]="chartOptions"
                 [category]="'Type'">

      </app-chart>
    </div>

    <div class="chart-item bg-white rounded">
      <app-chart [chartData]="priorityChartData"
                 [chartOptions]="chartOptions"
                 [category]="'Priority'">
      </app-chart>
    </div>

    <div class="chart-item bg-white rounded">
      <app-chart [chartData]="statusChartData"
                 [chartOptions]="chartOptions"
                 [category]="'Status'">
      </app-chart>
    </div>

  </div>
</div>
