<div class="d-flex flex-row justify-content-center flex-wrap">
  <div class="d-flex flex-column bg-white align-items-center rounded mb-2 me-2">
    <app-chart [content]="report.type"
               [category]="'Type'"
               [showDoughnut]="showDoughnut"
               [view]="view"
               [legendPosition]="legendPosition"></app-chart>
  </div>
  <div class="d-flex flex-column bg-white  align-items-center rounded mb-2 me-2">
    <app-chart [content]="report.priority"
               [category]="'Priority'"
               [showDoughnut]="showDoughnut"
               [view]="view"
               [legendPosition]="legendPosition"></app-chart>
  </div>

  <div class="d-flex flex-column bg-white align-items-center rounded mb-2 me-2">
    <app-chart [category]="'Status'"
               [content]="report.status"
               [showDoughnut]="showDoughnut"
               [view]="view"
               [legendPosition]="legendPosition"></app-chart>
  </div>

</div>
