/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";
a {
  cursor: pointer;
}

.logo {
  max-width: 35px;
  min-width: 35px;
}

.form-box {
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.08);
}

.form-title {
  border-bottom: 1px solid rgba(192, 192, 192, 0.5);
}
