<form class="p-3" #projectForm="ngForm">
  <div class="modal-header">
    <h4 *ngIf="formProject.id != null" class="modal-title">{{"Editing " + project.name}}</h4>
    <h4 *ngIf="formProject.id == null" class="modal-title">New</h4>
    <button type="button" class="btn-close" aria-label="Close"
            (click)="closeModal('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="mb-3">
      <input
        id="title"
        name="title"
        type="text"
        class="form-control rounded p-2"
        [(ngModel)]="formProject.name"
        #titleField="ngModel"
        placeholder="Title"
        (change)="checkIfTitleIsValid()"
        required/>

      <div class="text-danger" *ngIf="titleField.dirty && !validTitle">
        <span>{{invalidTitleMessage}}</span>
      </div>

    </div>

    <div class="mb-3">
      <input
        id="description"
        name="description"
        type="text"
        class="form-control rounded p-2"
        [(ngModel)]="formProject.description"
        placeholder="Title"
        #descriptionField="ngModel"
        (change)="checkIfDescriptionIsValid()"
        required/>

      <div class="text-danger" *ngIf="descriptionField.touched && !validDescription">
        <span>{{invalidDescriptionMessage}}</span>
      </div>
    </div>

    <div class="mb-3">
      <label for="teamMembers" class="form-label">Team Members</label>
      <ng-select name="teamMembers"
                 id="teamMembers"
                 [multiple]="true"
                 [items]="organizationTeamMembers"
                 bindLabel="fullName"
                 bindValue="id"
                 [(ngModel)]="projectTeamMemberIds">
      </ng-select>
    </div>
    <div class="mb-3 text-danger text-capitalize text-center" *ngIf="errorMessage.length !== 0">
      <span>{{errorMessage}}</span>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-primary btn-full mt-3" [disabled]="projectForm.invalid || !validTitle || !validDescription"
            (click)="onSubmit();">
      Save
    </button>
  </div>

</form>
